table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.generic-button {
  margin: 8px;
  margin-bottom: 30px;
}
.filter{
  flex: 1;
}

.filter-container {
  display: flex ;
}

.table-responsive {
  /* Abilita lo scorrimento orizzontale se necessario */
  overflow-x: auto; 
  
  /* Imposta un colore di sfondo (opzionale) per le aree extra */
  background-color: white; 
}

/* Questa regola assicura che la tabella sia stretta al 100% all'interno del suo contenitore */
table {
  /* ... altre regole ... */
  min-width: 100%; /* Aggiungi questa per la compatibilità in alcuni casi */
}

/* Se vuoi assicurarti che l'area di scorrimento sia visibile in Material */
.mat-table {
  min-width: 800px; /* Aggiungi un valore minimo se necessario (es. 800px) per forzare lo scorrimento sui dispositivi mobili */
}

