/* src/styles.css */

/* Reset di base per un miglior controllo sui margini/padding */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Assicura che html e body occupino l'intera altezza del viewport */
}

/* Stili globali per il corpo della pagina */
body {
  /* Font: usa 'rem' per una migliore scalabilità su diversi dispositivi */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem; /* Base di 16px per i 'rem' se non specificato altrove */

  background-color: #000; /* fallback scuro adatto alla nebulosa */
  background-image: url('/assets/Red_Spider_Nebula.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  /* Assicurati che il corpo abbia sempre l'altezza minima del viewport */
  min-height: 100vh;
}

.mat-form-field-label,
.mat-input-element, .mat-form-field-underline {
  color: white !important;
}

/* Media Query di esempio per la dimensione del font (opzionale) */
@media (max-width: 768px) {
  body {
    font-size: 0.875rem; /* Riduci leggermente la dimensione base del font su schermi più piccoli */
  }
}
