<h1>Catalogo Messier</h1>
<div>
<p>
Il catalogo Messier è una classificazione astronomica che raggruppa 110 oggetti del cielo visibile e del profondo cielo. Il termine “Messier” deriva dal suo fondatore: Charles Messier. Charles Messier era un astronomo francese (1730-1817) che inizialmente creò il catalogo per aiutare i principianti astronomi a distinguere i corpi celesti fissi da quelli variabili. <br>
Al giorno d’oggi, invece, il catalogo Messier raggruppa i principali oggetti celesti diversi dalle stelle. Ma non solo! È lo strumento più adatto per guidare l’osservazione notturna del cielo, sia per gli astrofili che per i meno esperti in campo astronomico. <br>
Ciascun oggetto celeste, classificato nel catalogo, è indicato con una lettera maiuscola “M”, seguita da un numero.<br>
</p>
<p>
Il catalogo Messier è lo strumento più utilizzato dagli astronomi: con i suoi 110 oggetti celesti, rappresenta la principale guida del cielo stellato. Scopriamo insieme le principali caratteristiche degli oggetti più affascinanti del catalogo Messier. Non ci resta che augurarvi… Buon viaggio nel cielo stellato!
</p>
</div>
