
img {
  width:100%;
}

 :host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 50px;
    background: rgba(255, 255, 255, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    width: 50%; /* Larghezza del 50% del contenitore */
    min-width: 300px; /* Ma mai meno di 200px */
    margin-left: auto;   /* Margine sinistro automatico */
    margin-right: auto;  /* Margine destro automatico */
}